body{
    background-color: #181860!important;
    color: white!important;
}
a{
    color: white!important;
    text-decoration: none!important;
}
footer{
    position: absolute;
    width: 100%;
    background-color: rgb(75, 73, 73);
}

/* Title */
.title-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1.5em;
}
#title{
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 1.4em;
}
.section-title{
    margin-top: 1em;
    margin-bottom: 2em;
}

/* Nav Section */
.nav-container{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.nav-arrow{
    width: 1.5em;
    height: 1.5em;
}
#nav1{
    transform: rotate(90deg);
}
#nav2{
    transform: rotate(270deg);
}
#logo{
    width: 2.5em;
}
.nav-btn{
    margin: 0.5em;
}
.carousel-indicators{
    display: none!important;
}

/* <Bottom Menu/> */
.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.menu{
    display: flex;
    position: relative;
    height: 4em;
    justify-content: center;
    align-items: center;
}
.menu > div {
    margin: 0em 1em;
}
#menu-toggle{
    width: 75px;
    background: midnightblue;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#arrow-btn{
    width: 30px;
    height: 15px;
}
.menu-section{
    background-color: #181860;
}

/* <MusicPlayer/> */
.radio-player{
    display: block;
    width: 100%;
    height: 75px;
    background-color: #181860;
}
.radio-info{
    display: flex;
    align-items: center;
}
#radio-ico{
    width: 75px;
    margin-right: 10px;
}
#radio-name{
    font-size: 1.2em;
}
#music-btn{
    background: none;
    border: none;
    outline: none;
    position: absolute;
    right: 45px;
    top: 35px;
}
#boomboxIcon{
    width: 50px;
    height: 50px;
}

/* <Articles/> */
.trend-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-div{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0.5em;
    background-color: darkgray;
}
.card-img-div{
    position: relative;
    height: 8em;
    width: 100%;
}
.card-img{
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.card-name{
    position: relative;
}
.card-name h2{
    font-size: 1.5em;
}
.card-tag{
    background-color: rgb(58, 68, 84);
    height: 3em;
    width: 100%;
    bottom: 0px;
}
.card-tag button{
    border-radius: 5px;
    background-color: rgb(120, 40, 200);
    color: white;
    border: 1px solid rgb(120, 40, 200);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.styles-module_carousel-arrow__26sRw{
    display: none;
}
.feat-section .carousel-item{
    display: unset!important;
}
.featured{
    padding: 0em 5em;
}
.featured .card-div{
    width: 250px;
}

/*Soundtrack Section*/
.track-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
    height: 20em;
    background-color: rgb(70, 70, 70);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.track-img{
    height: 10em;
    width: 15em;
    background-color: white;
}
.accordion-icon{
    width: 3em;
}
.song-list{
    height: 20em;
    width: 30em;
    background-color: rgb(70, 70, 70);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

/*Topic Section*/
.topic-wrapper{
    flex-direction: column;
}
.all-topic-header{
    font-size: 2.3em;
}

.topic-btn-div{
    flex-direction: column;
}
.topic-btn-div button{
    background: none;
    color: white;
    border: 2px solid white;
    font-size: 1.3em;
}

/*Products section*/

.product-div{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0.5em;
}
.product-card{
    border-radius: 10px;
    background-color: lightblue;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.product-card h2{
    font-size: 1em;
}
.product-img{
    max-width: 200px;
    max-height: 100px;
}

@media screen and (max-width:767px) {
    .product-card{
        display:flex;
    }
}